@import 'tailwindcss';
@import './typography.css';

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Fira Code, monospace;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}
