@use 'sass:math';

$bp1-width: 900px;
$bp2-width: 500px;

$background-color: #111518;
$background-color-lighter: #1b2126;
$item-background-color: #1b2227;
$input-background-color: #263038;
$primary-accent-color: #4ecca2;
$primary-font-color: #eee;
$secondary-font-color: #aaa;
$section-padding: 0 7rem;

//HEADER
$header-height: 6rem;
$header-inline-padding: 4rem;
$header-element-inline-padding: 0.75rem;
$header-element-height: 2.5rem;
$header-button-font-size: 1rem;
$header-icon-font-size: 1.3rem;

$bp1-header-inline-padding: 1rem;

// HOME
$name-title-size: clamp(3rem, 10vw, 7rem);

$bp2-name-title-size: clamp(3rem, 17vw, 7rem);

// ABOUT
$profile-pic-outline-offset: 6%;
$profile-pic-outline-width: 3px;
$profile-pic-size: 16rem;
$about-font-size: 1.15rem;
$about-font-weight: 400;
$about-gap: 4rem;

$bp1-profile-pic-size: 25%;
$bp1-about-gap: 0;

// PROJECTS
$projects-spacing: 4rem;
$projects-padding: 1.2rem;
$projects-desc-font-size: 1.2rem;
$projects-text-spacing: 1.2rem;
$projects-logo-height: 4.2rem;

$bp1-projects-spacing: 2rem;
$bp2-projects-spacing: 1.5rem;

$project-logo-offset: -1rem;
$conama-logo-scale: 1;
$esima-logo-scale: 0.9;
$waldy-logo-scale: 1.3;
$project-hover-scale: 1.05;
$project-hover-logo-scale: 1.1;
$project-hover-logo-offset: -1.5rem;
$project-img-parallax-factor: 450;

$projects-info-logo-height: 3rem;

$bp1-section-padding: $header-height 2rem 0 2rem;
$bp2-section-padding: math.div($header-height, 1.5) 1rem 0 1rem;

// CONTACT
$button-border-thickness: 2px;
$button-content-color: $secondary-font-color;
$button-transition: 0.4s;

$arrow-width: 1.6rem;
$arrow-height: 8px;
$arrow-thickness: 2px;
$arrow-color: $button-content-color;
$arrow-transition: 0.3s;

$form-animation-dur: 800;
$form-animation-delay: 200;
$form-button-dur: 300;
$form-button-end-scaleX: 0.4;
$form-button-end-scaleY: 1.5;
